body {
    margin: auto;
    padding: auto;
}


.flex-container {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}



.flex-container img {
    height: 33.33vh;
    box-sizing: border-box;
    padding: 10px;
}
