body {
    margin: auto;
    padding: auto;
}


.flex-container {
    display: flex;
    height: 50vw;
    flex-flow: column wrap;
    background-color: gainsboro;
    align-content: space-between;

}

.flex-container img {
    background-color: #fff;
    width: 10vw;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
