

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

.cell {
    border: 1px solid black;
    width: 25vw;
    margin: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}


.flex-container img {
    height: 33vh;
    width: 24vh;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.flex-container p {
    text-align: center;
}

.text-container {
    display: flex;
    
}
